@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #f3f3f3;
    /* Branco padrão */
    --vermelho: #e30613;
    /* Vermelho padrão*/
    --dark: #191A23;
    /*Preto 01 padrão*/
    --black: #000
    /*Preto 02 padrão*/
    --gap-large: 40px;
    /* Espaçamento grande entre os itens (por exemplo, em desktops) */
    --gap-small: 20px;
    /* Espaçamento pequeno entre os itens (por exemplo, em dispositivos móveis) */
    --font-size: 20px;
    /* Tamanho da fonte padrão */
    --border-radius: 10px;
    /* Raio da borda para bordas arredondadas */
    --transition-speed: 0.3s;
    /* Velocidade da transição de cor para suavizar mudanças */
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.landing-page{
    margin-right: 120px;
}

.introduction{
    display: flex;
    width: 1440px;
    padding: 0px 100px;
    align-items: flex-start;
    gap: 40px;
}

.title-sobrenos{
    color: var(--Grey, #F3F3F3);

    /* h2 */
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 7px;
background: var(--Vermelho, #E30613);
border-radius: 7px;
background: var(--Vermelho, #E30613);
}

.site-text{
    color: #000;

    /* p */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team-members{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.top-cards{
    display: flex;
padding: 0px 100px;
align-items: flex-start;
gap: 40px;
}

.card{
    display: flex;
width: 387px;
height: 331px;
padding: 40px 35px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 45px;
border: 1px solid #191A23;
background: #FFF;
box-shadow: 0px 5px 0px 0px #191A23;
}

.member-name{
    color: #000;

/* h4 */
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 10px;
}

.member-position, .member-description{
    color: #000;

/* p */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 10px
}


.person{
    display: flex;
    align-items: flex-start;
    gap: -67px;
    align-self: stretch;
}
.cards{
    display: flex;
    padding: 0px 100px;
    margin-left: 200px;
    align-items: flex-start;
    gap: 40px;

}

