/* Padrões - Estilos */
:root {
    --grey: #f3f3f3; /* Branco padrão */
    --vermelho: #e30613; /* Vermelho padrão */
    --dark: #191a23; /* Preto 01 padrão */
    --black: #000; /* Preto 02 padrão */
    --gap-large: 40px; /* Espaçamento grande entre os itens (por exemplo, em desktops) */
    --gap-small: 20px; /* Espaçamento pequeno entre os itens (por exemplo, em dispositivos móveis) */
    --font-size: 20px; /* Tamanho da fonte padrão */
    --border-radius: 10px; /* Raio da borda para bordas arredondadas */
    --transition-speed: 0.3s; /* Velocidade da transição de cor para suavizar mudanças */
    --contact: #89898931; /* Cor de fundo para a seção de contato */

    /* Cores de teste */
    --teste1: #eeff00;
    --teste2: #ff00ee;
    --teste3: #00eeff;
    --teste4: #00ff00;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    background-color: var(--teste1);
    width: 95%;
    height: 80vh;
    display: flex;
}

.article-content {
    background-color: var(--teste2);
    width: 60%;
    height: 100%;
}

.article-img {
    background-color: var(--teste3);
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-img img {
    width: 100%;
    height: auto;
}

.introduction-content {
    background-color: var(--teste4);
}

.noticia-content {
    background-color: var(--teste1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img {
    background-color: var(--teste4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cards {
    background-color: #522e91;
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.cards img {
    width: 80%;
    height: auto;
}