@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --white: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 40px;
    --gap-small: 20px;
    --font-size: 20px;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

/* Estilos gerais */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Configurações da Main */
.landing-page {
    margin-right: 120px;
}

.title-text {
    display: flex;
    width: 1400px;
    padding: 0px 100px;
    align-items: flex-start;
    gap: var(--gap-large);
    margin-top: 200px;
}

.title-carrers {
    color: var(--white);
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background: var(--vermelho);
    border-radius: var(--border-radius);
    width: 400px;
    height: 40px;
    margin-bottom: 65px;
}

.text-information {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

/*carreiras*/
.section-carrers {
    display: flex;
    margin: 10px;
    justify-content: center;
}

article {
    border-radius: 35px;
    padding: 20px;
    position: relative;
}

.card-red {
    background-color: #e30613;
    color: black;
    font-family: "Montserrat";
    width: 65%;
    height: 188px;
    border: 2px solid var(--black);
    box-shadow: 0px 5px 0px 0px var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.card-white {
    background-color: #F3F3F3;
    color: black;
    font-family: "Montserrat";
    width: 65%;
    height: 188px;
    border: 2px solid var(--black);
    box-shadow: 0px 5px 0px 0px var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.card-black {
    background-color: #191A23;
    color: black;
    font-family: "Montserrat";
    width: 65%;
    height: 188px;
    border: 2px solid var(--black);
    box-shadow: 0px 5px 0px 0px var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.p-carrer-white {
    color: var(--white);
}

.p-carrer-white{
    border-radius: var(--border-radius);
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: justify;
}

.p-carrer-black {
    border-radius: var(--border-radius);
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: justify;
}