@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --white: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 40px;
    --gap-small: 20px;
    --font-size: 20px;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


/* Configurações da Main */
.lading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carreiras-container {
    display: inline-flex;
    height: 80rem;
    padding: 0rem 6.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex-shrink: 0;
}

.carreiras-container .card {
    display: flex;
    height: 20%;
    padding: 4rem 3rem;
    align-items: flex-start;
    gap: 4rem;
    flex-shrink: 0;
}

.carreiras-container hr{
    width: 0.0625rem;
    height: 11rem;
    background: #FFF;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.card-container p, h2 {
    color: var(--white);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-container a {
    color: var(--Vermelho, #E30613);
    font-family: "Space Grotesk";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    /* 140% */
}

#cardblack {
    /*stlyes*/
    border-radius: 2.8125rem;
    background: var(--dark);
}

#cardwhite{
    /*stlyes*/
    border-radius: 2.8125rem;
    background: var(--white);
    border: #E30613 0.125rem solid;
}

#cardred{
    /*stlyes*/
    border-radius: 2.8125rem;
    background: var(--vermelho);
}

#cardblack p, h2{
    color: var(--white);
}

#cardwhite p{
    color: var(--vermelho);
}

#cardwhite h2{
    color: var(--vermelho);
}

#cardred p, h2{
    color: var(--white);
}

#cardblack a {
    color: var(--vermelho);
}

#cardwhite a {
    color: var(--vermelho);
}

#cardred a {
    color: var(--white);
}


/* carreiras cards 
.section-carrers {
    display: flex;
    justify-content: center;
    margin: 1.5vh;
}

article {
    border-radius: 3vh;
    padding: 4vh;
}

.card-black, .card-red, .card-white {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1vh;
    /* Tirar a Borda depois 
    border: 2px solid var(--black);
    font-family: "Montserrat";
    width: 65%;
    height: 20%;
}

.card-red {
    background-color: #e30613;
    color: #F3F3F3;
    font-family: "Montserrat";
}

.card-white {
    background-color: #F3F3F3;
    color: black;
    font-family: "Montserrat";
}

.card-black {
    background-color: #191A23;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.p-carrer-white, .p-carrer-black, .p-carrer-red{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.p-carrer-red {
    color: var(--white);
    font-size: 1rem;
}

.view-more-red {
    color: var(--white);
}

.p-carrer-white {
    color: var(--vermelho);
    font-size: 1rem;
}

.p-carrer-red-subtitle {
    color: var(--white);
    font-size: 3vh;
}

.p-carrer-black {
    color: #ffffff;
    font-size: 1rem;
}

.p-carrer-red-title {
    color: var(--white);
    font-size: 4vh;
}

.p-carrer-white-title {
    color: var(--vermelho);
    font-size: 4vh;
}

.p-carrer-black-title {
    color: var(--white);
    font-size: 4vh;
}

.p-carrer-black-subtitle {
    color: var(--white);
    font-size: 3vh;
}

.p-carrer-white-subtitle {
    color: var(--vermelho);
    font-size: 3vh;
}

.view-more {
    color: var(--vermelho);
}

.view-more-red {
    color: var(--white);
}

.view-more-global {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-size: 1rem;
    padding: 2vh;
    gap: 2rem;
}