:root {
    --grey: #f3f3f3;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 40px;
    --gap-small: 20px;
    --font-size: 20px;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* Estrutura da Header*/
header{
margin-top: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    transition: .3s;
    margin-bottom: 2rem;
}

/* Meu nome (Logo)*/
header .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}


/*Barra de Navegação*/
ul.navlist{
    display: flex;
}

.navlist li{
    margin: 0 1rem; 
}

.navlist li a{
    display: inline-flex; /* Alinha os itens em linha */
    font-weight: 600;
    text-decoration: none;
    color: var(--dark);
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    list-style-type: none;

}

/*Estilos para quando passar o mouse e quando o script tiver ativo*/
.navlist li a:hover,.navlist li a.active{
    background: var(--gradient-color-bg);
    background-clip: text;
}


/* Estios para os itens da direita*/
.right-header{
    display: flex;
    align-items: center; /* Alinhamento vertical */
    justify-content: end; /* Alinhamento horizontal */
    grid-gap: .8rem;
}

.btn{
    background: var(--vermelho);
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .3s ease;
    font-family: "Space Grotesk", sans-serif;
}

.btn:hover,.btn-box .d-CV:hover{
    box-shadow: var(--hover-box-shadow);
}



/* ================ Estilos para o menu Hamburguer (responsividade)========================*/
.menu-icon{ 
    position: relative; 
    display: block; /* Exibe em bloco */
    width: 30px;
    height: 30px;
    cursor: pointer; /* Muda o cursor */
    /* background: blue; */
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before{
    content: "";
    display: none; /* Oculta */
    width: 100%;
    height: 4px;
    border-radius: 3px; /* Borda arredondada */
    background: #000;
    margin: 6px 0; /* Margem */
    transition: .4s;
}

.menu-icon.active::before{
    transform: rotate(-45deg) translate(-6px , 6px); /* Rotaciona */
}

.menu-icon.active::after{
    transform: rotate(45deg)translate(-8px , -8px); /* Rotaciona */
}

.menu-icon.active .bar{ 
    opacity: 0;
}


@media(max-width:991px){
    header,section,footer{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media(max-width:1220px){
    .proposal{
        display: none;
    }
    .menu-icon .bar,.menu-icon::after,.menu-icon::before{
        display: block;
    }
    ul.navlist{
        position: absolute;
        top: -1000px;
        transition: all .3s ease;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 23px 26px -10px rgba(0,0,0,0.1);
        border-bottom-right-radius: 1rem;        
        border-bottom-left-radius: 1rem;
    }
    ul.navlist a{
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    .navlist.active{
        top: 100%;
    }
    .overlay{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0,0,0,0.5);
        z-index: 8;
        opacity: 0;
        transform: .3s;
        pointer-events: none;
    }
}

