@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 40px;
    --gap-small: 20px;
    --font-size: 20px;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Configurações da Main */
.landing-page {
    margin-right: 120px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    width: 60%; /* pedir ajuda para o thigas*/
    display: flex;
    gap: 5rem;
    margin-left: 8rem;
}

.title-dica{
    color: var(--grey);
    font-family: "Montserrat";
    font-size: 2rem; 
    font-weight: 500;
    text-align: center;
    background: var(--vermelho);
    border-radius: var(--border-radius);
    margin-bottom: 3rem;
}

.text-dica {
    color: #000;
    font-family: Montserrat;
}


.dica{
    display: flex;
    width: 60%;
    background-color: #e30613;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.65rem;
    margin-top: 2rem;
    padding: 2.5rem 3.75rem;


    /*stlyes*/
    border: 0.0625rem solid #191A23; /* 1px convertidos para rem */
    background: var(--grey);
    box-shadow: 0 0.31rem 0 0 #191A23; /* 5px convertidos para rem */
    border-radius: 2.81rem; /* 45px convertidos para rem */
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*stlyes*/
    font-size: 1.25rem; /* 20px convertidos para rem */
    cursor: pointer;
    
}

.numero {
    color: #000;
    font-family: "Space Grotesk";
    font-size: 2rem; /* 60px convertidos para rem */
    font-weight: bolder;
}

.texto-titulo {
    margin-left: 0.625rem; /* 10px convertidos para rem */
    color: #000;
    font-family: "Space Grotesk";
    font-size: 1.875rem; /* 30px convertidos para rem */
    font-weight: bold;
}

.icone {
    font-size: 1.5rem; /* 24px convertidos para rem */
    background-color: #faf6f6;
    border-radius: 50%;
    padding: 0.30rem 0.60rem; /* 5px 10px convertidos para rem */
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.conteudo {
    font-size: 1rem; /* 16px convertidos para rem */
    color: var(--grey);
    font-family: Montserrat;
    font-size: 1.125rem; /* 18px convertidos para rem */
}

.dica.ativa {
    border-radius: 2.81rem;
    border: 0.06rem solid #191A23;
    background: var(--vermelho);
    box-shadow: 0 0.3rem 0 0 #191A23;
    color: var(--grey);
}

.dica.ativa .texto-titulo, .dica.ativa .numero {
    color: var(--grey);
}

.dica.ativa .icone {
    background-color: white;
    color: #e53935;
}

.dica.ativa .conteudo {
    display: block;
    gap: 1.8rem; /* 30px convertidos para rem */
}
