@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #f3f3f3;
    /* Branco padrão */

    --vermelho: #e30613;
    /* Vermelho padrão*/

    --dark: #191A23;
    /*Preto 01 padrão*/

    --black: #000
    /*Preto 02 padrão*/

    --gap-large: 2.5rem;
    /* Espaçamento grande entre os itens (por exemplo, em desktops) */

    --gap-small: 1.2rem;
    /* Espaçamento pequeno entre os itens (por exemplo, em dispositivos móveis) */

    --font-size: 1.2rem;
    /* Tamanho da fonte padrão */

    --border-radius: 10rem;
    /* Raio da borda para bordas arredondadas */

    --transition-speed: 0.3s;
    /* Velocidade da transição de cor para suavizar mudanças */
}


* {
    text-decoration: line-through;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    width: 60%; /* pedir ajuda para o thigas*/
    display: flex;
    gap: 5rem;
    margin-left: 8rem;
}

.title-dica{
    color: var(--grey);
    font-family: "Montserrat";
    font-size: 2rem; 
    font-weight: 500;
    text-align: center;
    background: var(--vermelho);
    border-radius: var(--border-radius);
    margin-bottom: 3rem;
}

.text-dica {
    color: #000;
    font-family: Montserrat;
}


.dica{
    display: flex;
    width: 60%;
    background-color: #e30613;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.65rem;
    margin-top: 2rem;
    padding: 2.5rem 3.75rem;
    transition: all 0.5s linear;


    /*stlyes*/
    border: 0.0625rem solid #191A23; /* 1px convertidos para rem */
    background: var(--grey);
    box-shadow: 0 0.31rem 0 0 #191A23; /* 5px convertidos para rem */
    border-radius: 2.81rem; /* 45px convertidos para rem */
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*stlyes*/
    font-size: 1.25rem; /* 20px convertidos para rem */
    cursor: pointer;
    margin-bottom: 3rem;
    
}

.numero {
    color: #000;
    font-family: "Space Grotesk";
    font-size: 2rem; /* 60px convertidos para rem */
    font-weight: bolder;
}

.texto-titulo {
    margin-left: 0.625rem; /* 10px convertidos para rem */
    color: #000;
    font-family: "Space Grotesk";
    font-size: 1.875rem; /* 30px convertidos para rem */
    font-weight: bold;
}

.icone {
    font-size: 1.5rem; /* 24px convertidos para rem */
    background-color: #faf6f6;
    border-radius: 50%;
    padding: 0.30rem 0.60rem; /* 5px 10px convertidos para rem */
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.conteudo p {
    font-size: 1rem; /* 16px convertidos para rem */
    color: var(--grey);
    font-family: Montserrat;
    font-size: 1.125rem; /* 18px convertidos para rem */
    text-align: justify;
    width: 40%;
}

.conteudo .entrevistas{
    display: flex;
    width: 100%;
    height: 100%;
}
.iframe-dev{
    width: 60%;
    min-height: 23rem;
}
.dica.ativa {
    border-radius: 2.81rem;
    border: 0.06rem solid #191A23;
    background: var(--vermelho);
    box-shadow: 0 0.3rem 0 0 #191A23;
    color: var(--grey);
    height: 100%;
}

.dica.ativa .texto-titulo, .dica.ativa .numero {
    color: var(--grey);
}

.dica.ativa .icone {
    background-color: white;
    color: #e53935;
}

.dica.ativa .conteudo {
    display: flex;
    gap: 1.8rem; /* 30px convertidos para rem */
}
