@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #f3f3f3;
    /* Branco padrão */
    --vermelho: #e30613;
    /* Vermelho padrão*/
    --dark: #191A23;
    /*Preto 01 padrão*/
    --black: #000
        /*Preto 02 padrão*/
        --gap-large: 40px;
    /* Espaçamento grande entre os itens (por exemplo, em desktops) */
    --gap-small: 20px;
    /* Espaçamento pequeno entre os itens (por exemplo, em dispositivos móveis) */
    --font-size: 20px;
    /* Tamanho da fonte padrão */
    --border-radius: 10px;
    /* Raio da borda para bordas arredondadas */
    --transition-speed: 0.3s;
    /* Velocidade da transição de cor para suavizar mudanças */
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.lading-page {
    display: flex;
    width: 1440px;
    height: 771px;
    flex-direction: column;
    align-items: flex-start;
    gap: 85px;
    flex-shrink: 0;
}

/* Barra de navegação */
.navigation-bar {
    margin-top: 60px;
    display: flex;
    width: 1440px;
    padding: 0px 125px;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* Padding adicionado para garantir que a barra não encoste nas bordas */
}

nav img {
    width: 226px;
    height: 60px;
    flex-shrink: 0;
    /* Impede que a imagem encolha */
}

.list-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* Espaço fixo de 40px entre os itens de navegação */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: var(--dark);
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* Altura da linha para o texto */
}

/* Botão de entre em contato */
.button-nav-header {
    border-radius: var(--border-radius);
    /* Raio da borda arredondada do botão */
    width: 120px;
    height: 60px;
    font-size: var(--font-size);
    background-color: #fff;
    /* Cor de fundo do botão */
    border: 2px solid var(--vermelho);
    /* Cor e espessura da borda do botão */
    color: var(--dark);
    /* Cor do texto no botão */
    text-align: center;
    line-height: 60px;
    /* Alinha verticalmente o texto dentro do botão */
    transition: background-color var(--transition-speed), color var(--transition-speed);
    /* Transição suave para mudanças de cor */
    font-family: "Space Grotesk";
}

.button-nav-header:hover {
    background-color: var(--vermelho);
    /* Cor de fundo do botão ao passar o mouse */
    color: #fff;
    /* Cor do texto do botão ao passar o mouse */
}

.nav-link:hover {
    color: #e30613;
}

/* Introdução */
.introduction {
    display: flex;
    width: 1400px;
    padding: 0px 100px;
    align-items: flex-start;
    gap: 50px;
    margin: 100px;
}

.title-dica {
    color: var(--grey);
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background: var(--vermelho);
    border-radius: var(--border-radius);
    width: 300px;
    height: 40px;
    text-align: center;
}

.site-text {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

/* Cards de dicas */
.container {
    width: 80%;
    margin-top: 80px;
    margin: 0 auto;
}

.dica {
    display: flex;
    width: 80%;
    padding: 41px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 45px;
    border: 1px solid #191A23;
    background: var(--Grey, #F3F3F3);
    box-shadow: 0px 5px 0px 0px #191A23;
}
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.numero {
    color: #000;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.texto-titulo {
    margin-left: 10px;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icone {
    font-size: 24px;
    background-color: #faf6f6;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.conteudo {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    color: var(--Grey, #F3F3F3);

    /* p */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dica.ativa {
    border-radius: 45px;
    border: 1px solid #191A23;
    background: var(--Vermelho, #E30613);
    box-shadow: 0px 5px 0px 0px #191A23;
    color: var(--Grey, #F3F3F3);

}
.dica.ativa .texto-titulo, .dica.ativa .numero {
    color: var(--Grey, #F3F3F3);

}
.dica.ativa .icone {
    background-color: white;
    color: #e53935;
}

.dica.ativa .conteudo {
    display: block;
    gap: 30px;
}
