@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 40px;
    --gap-small: 20px;
    --font-size: 20px;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

/* Estilos gerais */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Estilos para a animação de transição */
.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out-active {
    opacity: 0;
}

.container-main {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5rem;
}

/* Estilos Imagem - Container */ 
.container-img {
    display: flex;
    width: 45%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-img img {
    height: 20rem;
    border-radius: 0 0 14px 0
} 

/*Estrutura conteúdo de texto*/
.container-text {
    width:60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

/* Estilos de textos*/
.button {
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    background: var(--vermelho);
    color: var(--grey);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.section-title {
    margin-top: 25px;
    color: var(--dark);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    align-self: stretch;
}

.section-text {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 700px;
    text-align: justify;
}


/*Estruturação simulado section*/

.simulado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    gap: 3rem;
}

.simulado-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.simulado-title {
    color: var(--dark);
    text-align: center;
    font-family: "Space Grotesk";
}

.simulado-text {
    color: var(--dark);
    text-align: center;
    font-family: "Space Grotesk";
}

/*---------------------------cards----------*/

/*Estrutura da section card*/

.cards {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -6rem;
    transition: ease .5s;
    
    &:hover{
        transform: translateY(-5vh);
    }
}

.img-card {
    border-radius: 5%;
    width: 35rem;
    height: 20rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
}


.subcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 1rem;
    position: relative;
    bottom: 3rem ;
    /*styles*/
    border-radius: 10px;
    background-color: #e9e9e9;
    box-shadow: 0px 8px 16px 0px rgba(137, 141, 145, 0.4);
}

.subcard-text {
    color: var(--dark);
    text-align: center;
    font-family: "Space Grotesk";
}

.button-card {
    color: #e30612;
    text-align: center;
    font-family: "Space Grotesk";
    font-weight: 600;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container-main {
        flex-direction: column;
        align-items: center;
    }

    .container-img, .container-text {
        width: 90%;
    }

    .container-img img {
        height: auto;
        width: 90%;
    }

    .section-title {
        font-size: 30px;
    }

    .section-text {
        font-size: 16px;
        width: 100%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .img-card {
        width: 100%;
        height: auto;
    }

    .subcard {
        width: 100%;
    }
}