@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 40px;
    --gap-small: 20px;
    --font-size: 20px;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

/* Estilos gerais */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Configurações da Main */
.landing-page {
    margin-right: 120px;
}

/* Introdução */
.introduction {
    display: flex;
    width: 96%;
    gap: var(--gap-large);
    margin-top: 14rem;
    align-items: center;
    padding-left: 4%;
}


.title-sobrenos {
    display: flex;
    color: var(--grey);
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    background: var(--vermelho);
    border-radius: var(--border-radius);
    width: 25%;
    justify-content: center;
}

.site-text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Equipe */
.team-members {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 80px;
}

.top-cards {
    display: flex;
    padding: 0rem 5rem;
    gap: 5rem;
}

.teste {
    display: flex;
    gap: 5rem;
    width: 60%;
    padding: 0 0 0 20%;
}



.card {
    display: flex;
    width: 100%;
    padding: 2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 45px;
    border: 1px solid var(--dark);
    background: #FFF;
    box-shadow: 0px 5px 0px 0px var(--dark);
}

/* Nome e descrição dos membros */
.member-name {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}

.member-position,
.member-description {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
}

/* Membros */
.person {
    display: flex;
    align-items: flex-start;
    gap: -67px;
    align-self: stretch;
}
