@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 4vh;
    --gap-small: 2vh;
    --font-size: 20px;
    --border-radius: 3vh;
    --transition-speed: 0.3s;

    /* Cores de teste */
    --color-1: #0004ff;
}

/* Estilos gerais */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* Estilos para a animação de transição */
.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out-active {
    opacity: 0;
}

.team-introduction {
    background-color: #e30613;
    width: 100%;
    height: 85vh;
    margin-bottom: 5%;
}

.team-members {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 80px;
    background-color: var(--color-1);
}

.top-cards {
    gap: 2rem;
    width: 80%;
    padding: 0 20px;
}

.card {
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 45px;
    border: 1px solid var(--dark);
    background: #FFF;
    box-shadow: 0px 5px 0px 0px var(--dark);
}

.member-name {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.member-position,
.member-description {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.person {
    display: flex;
    align-items: flex-start;
    gap: -67px;
    align-self: stretch;
}

.member-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-introduction {
    background-color: #e30613;
    border-radius: var(--border-radius);
    width: 60%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.title-introduction {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;  
    background-color: aqua;
}

.text-team {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    font-family: Montserrat;
    background-color: aquamarine;
}

.text-introduction-team {
    background-color: #06e318;
    width: 60%;
}

/* Media Queries */
@media (min-width: 768px) {
    .navigation-bar {
        padding: 0 40px;
    }

    .list-nav-header {
        gap: 30px;
    }

    .button-nav-header {
        height: 50px;
        line-height: 50px;
    }

    .introduction {
        flex-direction: row;
        align-items: center;
    }

    .title-sobrenos {
        width: 25%;
    }

    .top-cards, .button-cards {
        flex-direction: row;
        gap: 5rem;
        padding: 0 5rem;
    }
}

@media (min-width: 1024px) {
    .navigation-bar {
        padding: 0 125px;
    }

    .list-nav-header {
        gap: 40px;
    }

    .button-nav-header {
        height: 60px;
        line-height: 60px;
    }

    .title-sobrenos {
        width: 20%;
    }

    .top-cards, .button-cards {
        gap: 5rem;
        padding: 0 10rem;
    }
}