@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #fff;
    --vermelho: #e30613;
    --dark: #191A23;
    --black: #000;
    --gap-large: 4vh;
    --gap-small: 2vh;
    --font-size: 20px;
    --border-radius: 3vh;
    --transition-speed: 0.3s; /* Velocidade da transição de cor para suavizar mudanças */

    /* Testes */
    --teste1: #2fff00;
    --teste2: #ff0000;
    --teste3: #2f00ff;
    --teste4: #00aeff;
    --teste5: #ff00b3;
}

/* Estilos gerais */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* Estilos para a animação de transição */
.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out-active {
    opacity: 0;
}


/*card: equipe*/
.img-team {
    background-color: var(--vermelho);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    
}

.img-team img {
    width: 70%;
    height: auto;
}

.member-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-introduction {
    background-color: #e30613;
    border-radius: var(--border-radius);
    width: 20%;
    height: 10vh;
    margin: 5% auto 5% auto;
   
}

.title-introduction:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
    transform: scale(1.1);
  }
  

.title-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;  
    color: var(--grey);
    background-color: #e30613;
    border-radius: var(--border-radius);
    width: 15%;
    height: 5vh;
    margin: 5% auto 1% auto;
    transition: var(--transition-speed);
}

.text-team {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    font-family: Montserrat;
    margin-left: auto;
    margin-right:  auto;
}


/*card: */

.team-introduction {
    background-color: #e30613;
    width: 100%;
    height: 85vh;
    margin-bottom: 5%;
}

.team-members {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 80px;
    background-color: var(--color-1);
}

.top-cards {
    gap: 2rem;
    width: 80%;
    padding: 0 20px;
}



.text-introduction-team {
    width: 60%;
    height: auto;
    margin: 5% auto 1% auto;
}

h

/* Media Queries */
@media (min-width: 768px) {
    .navigation-bar {
        padding: 0 40px;
    }

    .list-nav-header {
        gap: 30px;
    }

    .button-nav-header {
        height: 50px;
        line-height: 50px;
    }

    .introduction {
        flex-direction: row;
        align-items: center;
    }

    .title-sobrenos {
        width: 25%;
    }

    .top-cards,
    .button-cards {
        flex-direction: row;
        gap: 5rem;
        padding: 0 5rem;
    }
}

@media (min-width: 1024px) {
    .navigation-bar {
        padding: 0 125px;
    }

    .list-nav-header {
        gap: 40px;
    }

    .button-nav-header {
        height: 60px;
        line-height: 60px;
    }

    .title-sobrenos {
        width: 20%;
    }

    .top-cards,
    .button-cards {
        gap: 5rem;
        padding: 0 10rem;
    }
}