@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #f3f3f3; /* Branco padrão */
    --vermelho: #e30613; /* Vermelho padrão */
    --dark: #191A23; /* Preto 01 padrão */
    --black: #000; /* Preto 02 padrão */
    --gap-large: 40px; /* Espaçamento grande entre os itens (por exemplo, em desktops) */
    --gap-small: 20px; /* Espaçamento pequeno entre os itens (por exemplo, em dispositivos móveis) */
    --font-size: 20px; /* Tamanho da fonte padrão */
    --border-radius: 10px; /* Raio da borda para bordas arredondadas */
    --transition-speed: 0.3s; /* Velocidade da transição de cor para suavizar mudanças */
    --contact: #89898931; /* Cor de fundo para a seção de contato */
    --teste1: #eeff00; /* Cores de teste */
    --teste2: #ff00ee;
    --teste3: #00eeff;
    --teste4: #00ff00;
}

/* Reset de estilos */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Estilos para o corpo da página */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para a animação de transição */
.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out-active {
    opacity: 0;
}

/* Sessão de boas vindas */
.container-main {
    margin: 5vh 0vh 5vh 0vh;
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vh;
}

.button {
    background-color: var(--vermelho);
    color: var(--grey);
    padding: 1vh 2vh;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

.container-img img {
    width: 0%;
    height: auto;
}

/* Sessão de logotipos */
.logotipos {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    height: 150vh;
    width: 80%;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

}

.logotipos-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 2vh;
    border-radius: var(--border-radius);
    width: 50%;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
    transition: transform 0.3s;
}

.card-item:hover {
    transform: scale(1.05);
}

.logo {
    width: 5rem;
}

.btn {
    width: 40%;
}

/* Sessão de contato */
.card-buttons {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    text-align: center;
    margin: 10vh 6vh 10vh 6vh;
    padding: 2vh;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.developers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    text-align: center;
    padding: 2vh;
}

.button-developers {
    background-color: var(--vermelho);
    color: var(--grey);
    padding: 1vh 2vh;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.developers-a {
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.button-dowload {
    background-color: var(--black);
    color: var(--grey);
    padding: 1vh 2vh;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.card-image {
    width: 0rem;
    height: auto;
}

/* Sessão de contato */
.cards-section {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    text-align: center;
    padding: 2vh;
}

hgroup h3 {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
}

hgroup h3 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--vermelho);
}

.contate-nos {
    background-color: var(--vermelho);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey);
    justify-content: center;
    gap: 3vh;
    text-align: center;
    padding: 2vh;
    width: 30%;
    border-radius: var(--border-radius);
    margin: 3vh;
}

.contact-container {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    text-align: center;
    margin: 10vh 0vh 10vh 0vh;
    padding: 2vh;
    margin: 5vh;
}

.contact-item {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
    border-radius: var(--border-radius);
    width: 100%;
}

.card-contact-desenvolvedores {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 2vh;
    height: 100%;
}

.section-content {
    background-color: var(--grey);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); 
    border-radius: var(--border-radius); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    text-align: center;
    padding: 2vh;
}

.input-dev {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
    border-radius: var(--border-radius);
    width: 60%;
}

.textarea-dev {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
    border-radius: var(--border-radius);
    width: 60%;
}

.img-section-cards {
    width: 0rem;
    height: auto;
}

.button-contact {
    background-color: var(--black);
    color: var(--grey);
    padding: 1vh 2vh;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
