@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Variáveis CSS para cores e tamanhos */
:root {
    --grey: #f3f3f3;
    /* Branco padrão */
    --vermelho: #e30613;
    /* Vermelho padrão*/
    --dark: #191A23;
    /*Preto 01 padrão*/
    --black: #000
    /*Preto 02 padrão*/
    --gap-large: 40px;
    /* Espaçamento grande entre os itens (por exemplo, em desktops) */
    --gap-small: 20px;
    /* Espaçamento pequeno entre os itens (por exemplo, em dispositivos móveis) */
    --font-size: 20px;
    /* Tamanho da fonte padrão */
    --border-radius: 10px;
    /* Raio da borda para bordas arredondadas */
    --transition-speed: 0.3s;
    /* Velocidade da transição de cor para suavizar mudanças */
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.container-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-bottom: 5rem;

}

.header-img{
    width: 20%;
}

.nav-header ul{
    gap: 2rem;
    text-decoration: none;
    list-style-type: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.nav-header ul li{
    color: #000
}
.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 65%;
}

.button-nav-header:hover {
    background-color: var(--vermelho);
    /* Cor de fundo do botão ao passar o mouse */
    color: #fff;
    /* Cor do texto do botão ao passar o mouse */
}

.nav-link:hover{
    color: #e30613;
}

.container-main{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-text{
    width: 42%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.container-img{
    display: flex;
    width: 42%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    background: var(--vermelho);
    color: var(--grey);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.section-title {
    margin-top: 25px;
    color: var(--dark);
    font-family: Montserrat;
    font-size: 61px;
    font-weight: 500;
    align-self: stretch;
}

.section-text {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 700px;
}

.logotipos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 9rem;
}

/* Botão de entre em contato */
.button-nav-header {
    border-radius: var(--border-radius);
    /* Raio da borda arredondada do botão */
    width: 120px;
    height: 60px;
    font-size: var(--font-size);
    background-color: #fff;
    /* Cor de fundo do botão */
    border: 2px solid var(--vermelho);
    /* Cor e espessura da borda do botão */
    color: var(--dark);
    /* Cor do texto no botão */
    text-align: center;
    line-height: 60px;
    /* Alinha verticalmente o texto dentro do botão */
    transition: background-color var(--transition-speed), color var(--transition-speed);
    /* Transição suave para mudanças de cor */
    font-family: "Space Grotesk";
}

.list-nav-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;    
    height: 80%;
}

.button-all{
    gap: 2rem;
    text-decoration: none;
    list-style-type: none;
    color: var(--dark);
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
}

